<h1>Welcome, <%= @user.first_name %></h1>
<p>Email: <%= @user.email %></p>
<p>Your User-ID is:<%= @user.id %> </p>


<p><%= link_to "Add a new Boat", "/boats/new" %> </p>


<p><%= link_to "Update your account", "/users/edit" %></p>


<div  class="mt-5">
  <div data-toggle-target="togglableElement", class="d-none">
    <%= simple_form_for (@boat) do |f| %>
      <%= f.input :title %>
      <%= f.input :location %>
      <%= f.input :price %>
      <%= f.input :photo, as: :file %>
      <%= f.submit class: 'btn-submit-movie mt-3'%>
    <% end %>
  </div>
</div>
