<h1>Welcome, <%= @user.first_name %></h1>
<p>Email: <%= @user.email %></p>
<p>Your User-ID is:<%= @user.id %> </p>


<p><%= link_to "Add a new Boat", "/boats/new" %> </p>


<p><%= link_to "Update your account", "/users/edit" %></p>




<p> Your next booked boat trip will leave on the: <%= @next_booking.start_date %> </p>
<p>You will be going on the boat <%= @next_booking.boat_id  %></p>



<h3>Your Bookings</h3>
<%= @bookings.each do |booking| %>
<p>Booking Number <%= booking.id %></p>
<p>You will leave port on: <%= booking.start_date %></p>
<P>Boat ID: <%= booking.boat_id %></P>
<p>You will make Port on <%= booking.end_date %></p>
<% end %>
