<head>
  <%= stylesheet_link_tag 'wave_style' %>
</head>
<div id="background"> 
  <div class="wave-01"></div>
  <div class="wave-02"></div>
  <div class="wave-03"></div>
  <div class="sun"></div>
</div>
<div class="container mt-4 position-relative">
  <div class="row">
    <div class="col-md-6 offset-md-3">
    <div class="welcome">
      <h1 class="text-center mb-4">Welcome, <%= @user.first_name %></h1>
    </div>
      
      <div class="position-absolute top-0 end-0">
        <%= link_to "Edit Profile", "/users/edit", class: "btn btn-secondary btn-sm me-2" %>
        <%= link_to "Add a new Boat", "/boats/new", class: "btn btn-secondary btn-sm" %>
              <% if @bookings.any? %>
        <div class="mt-4">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="bookingsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              Your Bookings
            </button>
            <ul class="dropdown-menu" aria-labelledby="bookingsDropdown">
              <% @bookings.sort_by(&:start_date).each do |booking| %>
                <li>
                  <div class="card">
                    <div class="card-body">
                      <p>Booking Number: <%= booking.id %></p>
                      <p>You will be going on: <%= booking.boat.title %></p>
                      <p>You will leave port on: <%= booking.start_date %></p>
                      <p>You will make Port on: <%= booking.end_date %></p>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% else %>
        <p class="mt-4">You have no bookings</p>
      <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="container mt-4">
        <div class="row justify-content-center">
          <% if @next_booking %>
            <div class="innertxt">
            <h3 class="text-center">Your upcoming trip <i class="fa-solid fa-ship fa-beat"></i></h3>
                <p>Booking Number: <%= @next_booking.id %></p>
                <p>You will be going on: <%= @next_booking.boat.title %></p>
                <p>You will leave port on: <%= @next_booking.start_date %></p>
                <p>You will make Port on: <%= @next_booking.end_date %></p>
                </div>
              </div>
            </div>
          <% else %>
            <p class="text-center">You have no upcoming bookings</p>
          <% end %>
        </div>
      </div>
    </div>