<div class="banner-container">
  <div class="banner-nav-bar">

  </div>

  <div class="banner-info">
    <div>
      <h1 class="banner-title">WELCOME TO AIRBOATnB</h1>
      <p class="banner-subtitle">Home to the best boats!</p>
      <div class="btn-infos">
        <div>
        </div>
        <div class="input-group rounded">
          <a href="/boats" class="btn btn-primary" title="Take me anywhere">
            <i class="fa-solid fa-ship fa-beat"></i>
          </a>
          <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
          <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="bg-body-tertiary text-center">
  <!-- Grid container -->
  <div class = "image", class="container p-4">
    <% if @boats.present? %>
      <!-- Displaying boat information -->
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <% @boats.each do |boat| %>
          <%= link_to "/boats/#{boat.id}", class: "col-md-6 text-decoration-none" do %>
            <div class="card mh-100">
              <div class="row g-0">
                <div class="col-md-6">
                  <% if boat.photo.attached? %>
                    <%= cl_image_tag boat.photo.key, class: "card-image" %>
                  <% end %>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h5 class="card-title"><%= boat.title %></h5>
                    <p class="card-text"><i class="fa-solid fa-anchor-circle-xmark"></i>: <%= boat.description %></p>
                    <p><i class="fa-solid fa-tag"></i>: $<%= boat.price %></p>
                    <p><i class="fa-solid fa-location-dot"></i>: <%= boat.location %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>


    <% else %>
      <p>No boats available.</p>
    <% end %>
  </div>

  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-body" href="https://simplerent.com/">SimpleRent™</a>
  </div>
  <!-- Copyright -->
</footer>
