<h1>All available boats</h1>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


<% @boats.each do |boat| %>
  <h3>Boat Title: <%= boat.title %></h3>
  <p>Description: <%= boat.description %></p>
  <h4>Owner: <%= boat.user.first_name %></h4>
  <p>Price: <%= boat.price %></p>
  <p>Location: <%= boat.location %></p>
  <hr>
<% end %>
