<h1>All available boats</h1>


<% @boats.each do |boat| %>
  <h3>Boat Title: <%= boat.title %></h3>
  <p>Description: <%= boat.description %></p>
  <h4>Owner: <%= boat.user.first_name %></h4>
  <p>Price: <%= boat.price %></p>
  <p>Location: <%= boat.location %></p>
  <hr>
<% end %>
