

<div class = "container">
  <h1>Discover</h1>
  <div style="width: 100%; text-align: center; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div  class="mt-5">
  <div data-toggle-target="togglableElement", class="d-none">
    <%= simple_form_for (@boat) do |f| %>
      <%= f.input :title %>
      <%= f.input :location %>
      <%= f.input :price %>
      <%= f.input :photo, as: :file %>
      <%= f.submit class: 'btn-submit-movie mt-3'%>
    <% end %>
  </div>
</div>

</div>
