<div class = "container">
  <h1>Discover</h1>
  <div style="width: 100%; text-align: center; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div  class="mt-5">
  <div data-toggle-target="togglableElement", class="d-none">
    <%= simple_form_for (@boat) do |f| %>
      <%= f.input :title %>
      <%= f.input :location %>
      <%= f.input :description, label: 'Description' %>
      <%= f.input :price %>
      <%= f.input :photo, as: :file %>
      <%= f.submit class: 'btn btn-primary btn-sm'%>
    <% end %>
  </div>
</div>

    <div class="row row-cols-1 row-cols-md-2 g-4">
      <% @boats.each do |boat| %>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title"><%= boat.title %></h5>
              <% if boat.photo.attached? %>
                  <%= cl_image_tag(boat.photo.key, :width => 300, :height => 300, :crop => :fill, :radius => 20) %>
              <% else %>
                  <%= image_tag('Modern_luxury_cruise_ship_cine (1)', :width => 300, :height => 300, :crop => :fill) %>
              <% end %>
              <p class="card-text">Description: <%= boat.description %></p>
                <p>Price: <%= boat.price %></p>
                <p>Location: <%= boat.location %></p>
                <%= link_to "View Boat", "/boats/#{boat.id}" %>
              <!-- Add more boat information as needed -->
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
