<%# <div class = "container text-center p-5">
  <div class = "row">
    <div class="col-md-6">
      <% if @boat.photo.present? && @boat.photo.key.present? %>
        <%# cl_image_tag @boat.photo.key, height: 200, width: 400, crop: :fill, class: 'img-border' %>
      <%# else %>
        <%# <img src="/images/placeholder.jpg" class="img-border" height="200" width="400"> %>
      <%# end %>
    <%# </div>
    <div class="col-md-6">
      <div class = "text-center">
        <i class="fa-solid fa-circle-info fa-3x"></i>
      </div> %>

      <%# <div class = "d-flex">
        <i class="fa-solid fa-ship fa-3x p-3"></i><h1 class = "text-start p-3"><%= @boat.title %></h1>
      <%# </div> %>
      <%# <p><%# @boat.description %>




    <%# </div>
    <i class="fa-solid fa-backward-step fa-2x"></i><%= link_to 'Back to Boats', boats_path %>
    <%# link_to 'Make a booking', new_boat_booking_path(@boat) %>
<%# </div> %>
<div class = "boat-container">
  <div class = "top-bar">
    <h3>Get to know the boat</h3>
  </div>
  <div class = "top-bar-2">
    <div>
      <i class="fa-solid fa-ship"></i>
    </div>
    <div>
      <i class="fa-regular fa-heart"></i>
      <i class="fa-regular fa-user"></i>
      <i class="fa-solid fa-bag-shopping"></i>
    </div>
  </div>
  <div class = "content">
    <div class = "img-container">
      <% if @boat.photo.present? && @boat.photo.key.present? %>
        <%= cl_image_tag @boat.photo.key, height: 200, width: 400, crop: :fill, class: 'img' %>
      <% else %>
        <%= image_tag("logo.png", class: "img-border", height: 200, width: 400) %>
      <% end %>
    </div>
    <div class = "info">
      <h5><%= @boat.title %></h5>
      <div class = "rating">
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <small>5.0 (100 reviews)</small>
      </div>

      <div class = "price">
        <h6>€ <%= @boat.price %></h6>
      </div>

      <div class = "description">
        <p><%= @boat.description %></p>
      </div>

      <div class = "owner">
        <i class = "fa-regular fa-user"></i>  <%= @boat.user.first_name %>
      </div>

      <div class = "buttons">
        <%= link_to "Book Now", new_boat_booking_path(@boat), class: "btn btn-primary book-now-button"%>
        <%= link_to "Back to boats", boats_path, class: "btn btn-primary btn-back" %>
      </div>
    </div>
  </div>

</div>
